<section class="articles">
  <div class="articles__container">

    <div class="section__header">
      <h1>Recent Stories</h1>
      <a href="#" class="section__header--cta">See all Stories</a>
    </div>

    <!-- <section class="carousel">
      <div class="carousel__container">

        <div class="carousel__controls-previous"></div>

        <ul class="carousel__slides">
          <li class="is-active"> -->
            <div class="articles__grid">

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>


              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>


              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>
              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>


              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>


              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Edited by: <a href="#">Editor Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

          <!-- </li>
        </ul>

        <div class="carousel__controls-next"></div>

      </div>
    </section> -->

  </div>
</section>
