<section class="articles">
  <div class="articles__container">

    <div class="section__header">
      <h1>Recent Stories</h1>
      <a href="#" class="section__header--cta">See all Stories</a>
    </div>

    <section class="carousel">
      <div class="carousel__container">

        <div class="carousel__controls-previous"></div>

        <ul class="carousel__slides">
          <li class="is-active">
            <div class="articles__grid">

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>


              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <a href="article.html">
                  <figure>
                    <img src="//placehold.it/600x400" alt="">
                  </figure>

                  <span class="articles__category">Lorem ipsum dolor.</span>

                  <header>
                    <hgroup>
                      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cumque alias saepe, nostrum optio, facilis aliquam voluptatibus repellendus fugiat assumenda?</h2>
                    </hgroup>
                  </header>

                  <ul>
                    <li>Written by: <a href="#">Author Name</a></li>
                    <li>Published on: January 10, 2018</li>
                  </ul>
                </a>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quos aut, repudiandae porro, vitae molestias temporibus consequatur optio labore quas?</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita consectetur, accusamus cupiditate provident mollitia quibusdam sed architecto eum necessitatibus repellat.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sequi quidem repudiandae, inventore soluta et ut quo impedit odio ad!</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>
          </li>
          <li>
            <div class="articles__grid">
              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam porro obcaecati soluta maiores ratione praesentium id consequuntur fuga voluptatum doloremque.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quo veniam voluptatum neque, minus maiores placeat nulla quaerat aspernatur cumque.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nihil vitae at hic eaque quas optio eos deserunt voluptatum architecto.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam dolores quo excepturi impedit qui sequi similique, molestias velit illo rem.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam reiciendis sunt quos optio labore odio beatae perferendis omnis accusamus dignissimos!</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nulla atque iste quaerat saepe ab aliquid quisquam sint ipsa neque.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>
          </li>
          <li>
            <div class="articles__grid">
              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolor laboriosam doloribus, totam perferendis iure nam accusantium labore. Nesciunt, possimus!</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolor eum commodi, ad vel. Aut voluptatem, repudiandae molestiae natus rerum!</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur temporibus hic aperiam dolorem, perferendis culpa cupiditate corporis magni voluptate iste.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim laborum repellendus animi doloremque veniam blanditiis harum consequuntur autem fugiat.</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sunt aspernatur officiis fugit similique provident cum, expedita quis eveniet porro!</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>

              <article>
                <figure>
                  <img src="//placehold.it/600x400" alt="">
                </figure>

                <span class="articles__category">Lorem ipsum dolor.</span>

                <header>
                  <hgroup>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolores consequuntur tempore quidem atque voluptas, blanditiis. Repudiandae debitis quo voluptas?</h2>
                  </hgroup>
                </header>

                <ul>
                  <li>Written by: <a href="#">Author Name</a></li>
                  <li>Published on: January 10, 2018</li>
                </ul>
              </article>
          </li>
        </ul>

        <div class="carousel__controls-next"></div>

      </div>
    </section>

  </div>
</section>
