<section class="articles">
  <div class="articles__container">

    <h1>Recent Articles</h1>

    <div class="articles__grid">
      <article>
        <figure>
          <img src="//placehold.it/600x400" alt="">
        </figure>

        <span class="articles__category">Lorem ipsum dolor.</span>

        <header>
          <hgroup>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis eligendi dicta beatae eveniet, commodi ipsum alias quibusdam, fugiat maxime, minima ad, ipsam labore. Necessitatibus, distinctio quidem labore dignissimos voluptate minus aspernatur mollitia ipsam asperiores id. Voluptas iusto, dolorem doloremque.</h2>
          </hgroup>
        </header>

        <ul>
          <li>Written by: <a href="#">Author Name</a></li>
          <li>Published on: January 10, 2018</li>
        </ul>
      </article>

      <article>
        <figure>
          <img src="//placehold.it/600x400" alt="">
        </figure>

        <span class="articles__category">Lorem ipsum dolor.</span>

        <header>
          <hgroup>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis eligendi dicta beatae eveniet, commodi ipsum alias quibusdam, fugiat maxime, minima ad, ipsam labore. Necessitatibus, distinctio quidem labore dignissimos voluptate minus aspernatur mollitia ipsam asperiores id. Voluptas iusto, dolorem doloremque.</h2>
          </hgroup>
        </header>

        <ul>
          <li>Written by: <a href="#">Author Name</a></li>
          <li>Published on: January 10, 2018</li>
        </ul>
      </article>

      <article>
        <figure>
          <img src="//placehold.it/600x400" alt="">
        </figure>

        <span class="articles__category">Lorem ipsum dolor.</span>

        <header>
          <hgroup>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis eligendi dicta beatae eveniet, commodi ipsum alias quibusdam, fugiat maxime, minima ad, ipsam labore. Necessitatibus, distinctio quidem labore dignissimos voluptate minus aspernatur mollitia ipsam asperiores id. Voluptas iusto, dolorem doloremque.</h2>
          </hgroup>
        </header>

        <ul>
          <li>Written by: <a href="#">Author Name</a></li>
          <li>Published on: January 10, 2018</li>
        </ul>
      </article>

      <article>
        <figure>
          <img src="//placehold.it/600x400" alt="">
        </figure>

        <span class="articles__category">Lorem ipsum dolor.</span>

        <header>
          <hgroup>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis eligendi dicta beatae eveniet, commodi ipsum alias quibusdam, fugiat maxime, minima ad, ipsam labore. Necessitatibus, distinctio quidem labore dignissimos voluptate minus aspernatur mollitia ipsam asperiores id. Voluptas iusto, dolorem doloremque.</h2>
          </hgroup>
        </header>

        <ul>
          <li>Written by: <a href="#">Author Name</a></li>
          <li>Published on: January 10, 2018</li>
        </ul>
      </article>

      <article>
        <figure>
          <img src="//placehold.it/600x400" alt="">
        </figure>

        <span class="articles__category">Lorem ipsum dolor.</span>

        <header>
          <hgroup>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis eligendi dicta beatae eveniet, commodi ipsum alias quibusdam, fugiat maxime, minima ad, ipsam labore. Necessitatibus, distinctio quidem labore dignissimos voluptate minus aspernatur mollitia ipsam asperiores id. Voluptas iusto, dolorem doloremque.</h2>
          </hgroup>
        </header>

        <ul>
          <li>Written by: <a href="#">Author Name</a></li>
          <li>Published on: January 10, 2018</li>
        </ul>
      </article>

      <article>
        <figure>
          <img src="//placehold.it/600x400" alt="">
        </figure>

        <span class="articles__category">Lorem ipsum dolor.</span>

        <header>
          <hgroup>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas.</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis eligendi dicta beatae eveniet, commodi ipsum alias quibusdam, fugiat maxime, minima ad, ipsam labore. Necessitatibus, distinctio quidem labore dignissimos voluptate minus aspernatur mollitia ipsam asperiores id. Voluptas iusto, dolorem doloremque.</h2>
          </hgroup>
        </header>

        <ul>
          <li>Written by: <a href="#">Author Name</a></li>
          <li>Published on: January 10, 2018</li>
        </ul>
      </article>

    </div>
  </div>
</section>
