<section class="carousel">
  <div class="carousel__container">

    <div class="carousel__controls-prev">&#8592;</div>

    <ul class="carousel__slides">
      <li class="is-active">test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
    </ul>

    <div class="carousel__controls-prev">&#8594;</div>

  </div>
</section>
