<section class="categories">
  <div class="categories__container">

    <div class="section__header">
      <h1>Popular Categories</h1>
      <a href="#" class="section__header--cta">See all Categories</a>
    </div>

    <div class="categories__grid">
      <a href="#" class="categories__grid--item">
        <h1>Ask Pro Wrestling Stories</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>Huge Crowd Reactions</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>In Memoriam</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>Interviews</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>Interviews</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>Lists</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>Podcast</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>News</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>Pro Wrestling Stories</h1>
        <span>36 articles</span>
      </a>

      <a href="#" class="categories__grid--item">
        <h1>This Week</h1>
        <span>36 articles</span>
      </a>
    </div>

  </div>
</section>
