<section class="hero">
  <div class="hero__container">
    <article>
      <a href="article.html">
      <header>
        <hgroup>
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quo.</h1>
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur iure nobis dicta itaque illo eveniet sequi harum iusto vero facilis, id earum at aliquam voluptas laudantium similique dolorem adipisci ipsam repudiandae rem ipsum neque repellat accusamus. Est, quod, harum!</h2>
        </hgroup>
      </header>

      <aside class="attribution">
        <ul>
          <li>Written by: <a href="#" rel="author">Author Name</a></li>
          <li>Edited by: <a href="#" rel="editor">Editor Name</a></li>
          <li>Posted on: January 9th, 2018</li>
        </ul>
      </aside>
      </a>
    </article>
  </div>
</section>
