<section class="hero">
  <div class="hero__container">
    <article>
      <header>

        <hgroup>
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quo.</h1>
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequuntur iure nobis dicta itaque illo eveniet sequi harum iusto vero facilis, id earum at aliquam voluptas laudantium similique dolorem adipisci ipsam repudiandae rem ipsum neque repellat accusamus. Est, quod, harum!</h2>
        </hgroup>

        <figure>
          <img src="https://images.unsplash.com/photo-1488656711237-487ce1cc53b7?auto=format&fit=crop&w=1440&q=80&h=660" alt="">
          <!-- <img src="//placehold.it/1440x660" alt=""> -->
        </figure>

      </header>

      <aside class="attribution">
        <ul>
          <li>Written by: <a href="#" rel="author">Author Name</a></li>
          <li>Posted on: January 9th, 2018</li>
        </ul>
      </aside>

    </article>
  </div>
</section>
