<section class="merchandise">
  <div class="merchandise__container">

    <div class="section__header">
      <h1>Merchandise</h1>
      <a href="#" class="section__header--cta">Check Out More on ProWrestlingTees.com</a>
    </div>

    <div class="merchandise__grid">

      <div class="merchandise__grid--item">
        <figure>
          <img src="http://www.prowrestlingtees.com/media/catalog/product/cache/1/small_image/500x500/9df78eab33525d08d6e5fb8d27136e95/p/r/prowrestlingstories1001.png" alt="">
          <figcaption></figcaption>
        </figure>
      </div>

      <div class="merchandise__grid--item">
        <figure>
          <img src="http://www.prowrestlingtees.com/media/catalog/product/cache/1/small_image/500x500/9df78eab33525d08d6e5fb8d27136e95/p/r/prowrestlingstories1002_copy.png" alt="">
          <figcaption></figcaption>
        </figure>
      </div>

      <div class="merchandise__grid--item">
        <figure>
          <img src="http://www.prowrestlingtees.com/media/catalog/product/cache/1/small_image/500x500/9df78eab33525d08d6e5fb8d27136e95/p/r/prowrestlingstories1003.png" alt="">
          <figcaption></figcaption>
        </figure>
      </div>

      <div class="merchandise__grid--item">
        <figure>
          <img src="http://www.prowrestlingtees.com/media/catalog/product/cache/1/small_image/500x500/9df78eab33525d08d6e5fb8d27136e95/p/r/prowrestlingstories1004.png" alt="">
          <figcaption></figcaption>
        </figure>
      </div>

    </div>
  </div>
</section>
