<section class="quote">
  <div class="quote__container">
    <blockquote>Full of behind-the-scenes anecdotes and a good way to lose 30 minutes of your life.</blockquote>
    <cite><a href="https://www.si.com/extra-mustard/2015/05/20/minnesota-timberwolves-finally-win-something-hot-clicks" target="_blank">Andy Gray, Senior Editor, Sports Illustrated</a></cite>
  </div>
</section>
