<section class="search">
  <div class="search__container">
    <input type="search" name="search" placeholder="Search for wrestlers, categories, etc.">
    <span class="search__close js-searchClose"></span>
  </div>
</section>
