<section class="social">
  <div class="social__container">

    <div class="section__header">
      <h1>Support Pro Wrestling Stories</h1>
      <a href="#" class="section__header--cta">Buy Us a Beer!</a>
    </div>

    <div class="social__grid">

      <div class="social__grid--item">
        <img src="/assets/images/icons/twitter.svg" alt="">
        <div>
          <h1>@pws_official</h1>
          <p>12,200 followers</p>
        </div>
      </div>
      <div class="social__grid--item">
        <img src="/assets/images/icons/facebook.svg" alt="">
        <div>
          <h1>/prowrestlingstories</h1>
          <p>2,600 subscribers</p>
        </div>
      </div>
      <div class="social__grid--item">
        <img src="/assets/images/icons/reddit.svg" alt="">
        <div>
          <h1>r/SquaredCircle</h1>
          <p>The pro wrestling community that started it all!</p>
        </div>
      </div>

    </div>
  </div>
</section>
