<section class="subscribe">
  <div class="subscribe__container">

    <div class="subscribe__grid">

      <div class="subscribe__grid--item">
        <hgroup>
          <h1>Want to support Pro Wrestling Stories?</h1>
          <h2>Become a member on Patreon!</h2>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos non, ut eligendi. Ipsum magni quaerat consequuntur porro veritatis sint minima debitis libero explicabo hic sed id molestiae quo corrupti, eaque reiciendis deserunt eius expedita! Deleniti!</p>
        <a href="#" class="subscribe__grid--cta">Become a Member</a>
      </div>

      <div class="subscribe__grid--item">
        <hgroup>
          <h1>Want more Pro Wrestling Stories?</h1>
          <h2>Subscribe to our Newsletter!</h2>
        </hgroup>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi veniam debitis! Alias eveniet sint porro blanditiis rerum saepe facere officiis, dolorum harum corporis labore dicta, pariatur quasi architecto. Rerum.</p>
        <input type="text" name="subscribe" placeholder="mcmahon@nochance.com">
      </div>
      
    </div>
  </div>
</section>
