<!DOCTYPE html>
<html lang="en">

<head>
  {{> global/header meta }}
</head>

<body id="article">

<main id="main" role="main">
  {{> global/navigation }}
  {{> layouts/article/article }}
  {{> components/subscribe }}
  {{> components/footer }}
</main>

{{> global/footer }}
</body>
</html>
