<!DOCTYPE html>
<html lang="en">

<head>
  {{> global/header meta }}
</head>

<body>

<main id="main" role="main">
  {{> global/navigation }}
  {{> components/hero }}
  {{> components/articles }}
  {{> components/footer }}
</main>

{{> global/footer }}
</body>
</html>
