.hero {
  background: url('https://images.unsplash.com/photo-1488656711237-487ce1cc53b7?auto=format&fit=crop&w=1440&q=80&h=600') no-repeat center center;
  background-size: cover;
  height: 60rem;
  max-height: calc(100vh - 11rem);
  padding: 5rem 3rem;
  margin-bottom: 6rem;

  &__container {
    @include container($site-width);
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  article {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem;
    max-width: 80rem;
  }

  header {
    position: relative;
    color: var(--light);

    hgroup {
      padding: 0 0 3rem;
      text-shadow: 1px 1px 1px colors(black);

      h1 {
        font-size: 4.6rem;
        line-height: 1.2;
        margin-bottom: 3rem;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6;
      }
    }

    img {
      box-shadow: 0 0 3rem 0 colors(black);
      max-width: 100%;
    }
  }

  aside {
    color: var(--light);
    margin: 1.5rem 0 0;
    ul {
      @include attribution;
      a {
        color: var(--light);
        &:hover { color: var(--primary); }
      }
    }
  }
}
