.navigation {
  padding: 0 3rem;
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0 0 4rem -1rem colors(black);
  z-index: 20;

  &__header {
    display: flex;
    flex-direction: column-reverse;
    position: sticky;
    top: 0;
    z-index: 9999999;
    + * { margin-top: -($navigation-height); } // offset search area
  }

  &__container {
    @include container($siteWidth);
    height: $navigation-height;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    font-style: italic;
    font-weight: 900;
    img {
      height: 100%;
      // box-shadow: 0 0 4rem -1rem colors(black);
    }
  }

  &__items {
    margin-left: auto;

    svg {
      display: inline-block;
      fill: var(--light);
      height: 100%;
      max-width: 1.5rem;
      max-height: 1.5rem;
      transition: fill 150ms ease;
      &:hover { fill: var(--primary); }
      .transparent { fill: var(--dark); }
    }

    ul {
      display: flex;
      height: 100%;
      margin-left: auto;
      white-space: nowrap;

      li {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 1px;
        &:not(:first-of-type) { margin-left: 2rem; }
        &:last-of-type { margin-left: 5rem; }
        &:not(.js-searchButton) { @include underline(var(--primary)); }

        a {
          color: var(--light);
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  &__social {
    background-color: var(--light);
    margin-left: -3rem;
    margin-right: -3rem;
    padding: .5rem 3rem;

    &--container {
      @include container($siteWidth);
    }

    ul {
      display: flex;
      justify-content: flex-end;

      li:not(:first-of-type) { margin-left: 1.5rem; }
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      .transparent { fill: var(--light); }
    }
  }
}
