$breakpoints: (
  small: (414px, 1),
  medium: (1024px, 2),
);

.subscribe {
  padding: 3rem;
  &__container {
    @include container($site-width);
  }

  &__grid {
    display: grid;
    grid-gap: 3rem;
    grid-auto-rows: minmax(20rem, auto);

    @each $breakpoints, $breakpoint in $breakpoints {
      $width: nth($breakpoint, 1);
      $columns: nth($breakpoint, 2);
      @media (min-width: $width) {
        grid-template-columns: repeat($columns, 1fr);
      }
    }

    &--item {
      display: flex;
      flex-direction: column;
      background-color: var(--dark);
      color: colors(white);
      padding: 3rem;
    }

    &--cta {
      margin-left: auto;
      @include cta('light');
      padding: 2rem 6rem;
    }
  }

  h1 {
    font-size: 3rem;
    line-height: normal;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 80%;
    min-width: 414px;
    margin-bottom: 5rem;
  }

  form {
    margin-top: auto;
    display: flex;
    background-color: var(--primary);

    input {
      flex: 1;
      padding: 2rem 0;
      text-indent: 2rem;
      font-size: 1.6rem;
      font-weight: 600;
      outline: 0;
      border: none;
      appearance: none;
    }

    button {
      appearance: none;
      border: 0;
      padding: 0 2rem;
      background-color: var(--primary);
      margin-left: auto;
      cursor: pointer;
      &:hover { svg { fill: var(--light); } }
      svg { transition: all 150ms ease; }
    }
  }
}
