html { font-size: 10px; }

body {
  box-sizing: border-box;
  background-color: colors(white);
  color: colors(black);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  min-height: 100vh;
  max-width: 100vw;
}

// h1 { font-family: 'Roboto Slab', serif; }

a {
  color: colors(black);
}
