body {
  --light: white;
  --medium: lighten(black, 90%);
  --dark: black;
  --primary: #FF4136;
  --secondary: gold;
}

.theme__ {
  &macho_man {
    --light: #F3EE5B;
    --dark: #45255F;
    --primary: #D633A2;
  }
}
