// Colors: use colors($key) syntax
$colors: (
  white: #fff,
  black: #333,
  medium: #999
);

$site-width: 1440;
$article-width: 1200;
$site-background: colors(white);

$navigation-height: 8rem;
$search-height: 8rem;
