<header class="navigation__header">

  {{> components/search }}

  <nav class="navigation">
    <!-- <select name="themes"></select> -->
    <div class="navigation__container">
      <div class="navigation__logo">
        <!-- <img src="//placehold.it/200x75" alt=""> -->
        PRO WRESTLING STORIES
      </div>

      <div class="navigation__items">
        <ul>
          <li><a href="#">Choose a Story</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Merchandise</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Write For Us</a></li>
          <li class="js-searchButton">
            <a href="#"><img src="/assets/images/icons/search.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="navigation__social">
      <div class="navigation__social--container">
        <ul>
          <li>
            <a href="#"><img src="/assets/images/icons/facebook.svg" alt=""></a>
          </li>
          <li>
            <a href="#"><img src="/assets/images/icons/twitter.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
