<section class="article">
  <article class="article__container">
    <header>
      <hgroup>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ducimus, odit provident!</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid molestias officia, architecto totam animi nam corporis accusamus, esse voluptatibus qui veniam ea enim vel harum voluptatum, minus.</h2>
      </hgroup>

      <aside class="attribution">
        <ul>
          <li>Written by: <a href="#" rel="author">Author Name</a></li>
          <li>Posted on: January 9th, 2018</li>
        </ul>
      </aside>
    </header>

    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia velit maiores quibusdam fugiat debitis, iusto voluptatibus, neque excepturi vitae officia, mollitia amet dicta architecto pariatur facilis. Voluptatem adipisci ex eveniet velit minima repellat, soluta blanditiis deserunt fuga aliquid similique labore commodi corporis ipsum nisi sunt magni officia. Error repellat, impedit, maxime, veritatis delectus minus sint nesciunt, consequuntur eligendi necessitatibus vero pariatur itaque molestias ea in. Ipsum animi consequuntur unde corporis odio officia laborum, eligendi reiciendis. Earum saepe aperiam aliquid temporibus amet similique aspernatur qui. Quas odit, vero reprehenderit dolorum autem consectetur excepturi aut necessitatibus. Dolorum, expedita qui inventore repudiandae alias.</p>

      <section class="quote">
        <div class="quote__container">
          <blockquote>Full of behind-the-scenes anecdotes and a good way to lose 30 minutes of your life.</blockquote>
          <cite><a href="https://www.si.com/extra-mustard/2015/05/20/minnesota-timberwolves-finally-win-something-hot-clicks" target="_blank">Andy Gray, Senior Editor, Sports Illustrated</a></cite>
        </div>
      </section>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, distinctio, soluta? Minus voluptate aut, quidem dolor illo libero. Consequatur sit deserunt sapiente doloribus laborum neque non quidem pariatur. Quasi dolorum reprehenderit ea placeat ratione fuga vitae laudantium esse! Deleniti incidunt rem maxime eligendi id officiis, tenetur numquam totam aspernatur quaerat itaque architecto, vitae aliquam amet. Esse, amet, dolores! Harum, nisi.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam totam velit est, maiores repellendus veritatis ea deserunt earum suscipit porro itaque modi blanditiis, necessitatibus sed quis optio ipsa, dolores cum hic. Asperiores vel, qui. Maxime minima nemo dolorum voluptas, mollitia maiores eligendi, impedit magnam quidem, quae consequatur reiciendis suscipit odio.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus odio debitis vel quibusdam labore, dolorem sint sapiente unde doloremque, doloribus harum laborum ut nesciunt esse accusamus nemo soluta amet, nostrum maxime officia cumque voluptas quis. In alias, fugiat. Fugiat assumenda voluptas, harum ipsa culpa error laboriosam rem tenetur ea suscipit at id neque sapiente quibusdam possimus nemo ullam excepturi corrupti quasi in inventore doloremque. Excepturi eum sunt, ullam ducimus ex.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas sint optio pariatur perspiciatis. Reprehenderit ea illo beatae officiis ex atque, voluptatem maiores voluptas, impedit, ad id sequi reiciendis ut totam.</p>
    </section>

    <footer></footer>
  </article>
</section>
