<section class="article">
  <div class="article__container">

    <aside class="article__sidebar article__sidebar--information">
      <div class="article__chapters">
        <h3>Chapters</h3>
        <ol>
          <li><a href="#davey-boy-smith-jr">Davey Boy Smith, Jr.</a></li>
          <li><a href="#perry-saturn">Perry Saturn</a></li>
          <li><a href="#chris-masters">Chris Masters</a></li>
          <li><a href="#bam-bam-bigelow">Bam Bam Bigelow</a></li>
        </ol>
      </div>
    </aside>

    <article>
      <header>
        <hgroup>
          <h1>Heroism in Wrestling: When Wrestlers Went Above and Beyond the Call of Duty</h1>
          <h2>Four fearless stories of wrestlers risking their life to do what's right.</h2>
        </hgroup>

        <aside class="attribution">
          <ul>
            <li>Written by: <a href="#" rel="author">Marc Madison</a></li>
            <li>Edited by: <a href="#" rel="editor">JP Zarka</a></li>
            <li>Posted on: January 9th, 2018</li>
          </ul>
        </aside>
      </header>

      <section>
        <h2 id="davey-boy-smith-jr">Davey Boy Smith, Jr.</h2>

        <p>Harry Smith, known in the ring as Davey Boy Smith Jr., is a third-generation wrestler; he has the legacy of his father and grandfather to live up to in the ring. Many know that after training under members of his family, the Harts, Smith developed his craft with WWE alongside his cousin Natalya and friend Tyson Kidd. After competing in WWE from 2006-2011, Smith left for Japan, developing a name for himself while reinventing the type of competitor he was, as well.</p>

        <p>One never knows when they could be faced with a scenario where their will and character will be tested in a life-and-death situation. Well, Smith can also add hero to his list of accolades. He described an event on Facebook, which was also confirmed by Global News in his native Calgary, which forced him to become a negotiator while simply driving somewhere. Smith saw a woman that was hanging off of a bridge while someone was attempting to talk to her. It was at this time Smith did both a noble and brave thing. He pulled over and approached the woman on the bridge. As he began to try to speak to her, the young woman threatened to jump. Smith carefully approached her and knew he would have to calmly talk her out of this harrowing predicament.</p>

        <p>"With people on the ground waving her not to jump," Smith described, "I decided to grab a hold of her and not take any chances. She started to slide and I grabbed a hold of her. Luckily with my years of grappling and self-defense, I knew how to grab her HARD and how to pull her up from hanging off and jumping."</p>

        <p>It didn’t matter who he was or what he had achieved in the ring. The focal point of Smith’s attention was this woman, who appeared to be in dire straits. She had put her own life in jeopardy. As soon as Smith had her safely out of harm’s way, he waited until local authorities were available to ensure that she was taken to a medical facility to assess her. Of course, before he could do any of this, he needed to also ensure that his own safety wasn’t in jeopardy.</p>

        <section class="quote">
          <div class="quote__container">
            <blockquote>She was crying and said she just wanted a hug. But as much as I wanted to hug her, I told her I couldn’t hug her because she said she had a gun.</blockquote>
            <cite>Davey Boy Smith, Jr.</cite>
          </div>
        </section>

        <p>Smith continued, "She was crying and said she just wanted a hug. But as much as I wanted to hug her, I told her I couldn’t hug her because she said she had a gun. ‘Miss, you’re not going to move unless I want you to, I’m an expert grappler and your [sic] not going to shoot me. We will get you help; life is a precious thing and I’m here to help, to help you.’"</p>

        <figure>
          <img src="//placehold.it/800x400" alt="">
          <figcaption>Harry Smith, also known as Davey Boy Smith Jr., helps a woman who was just moments before on the brink of suicide.</figcaption>
        </figure>

        <p>The entire incident was completely surreal and the son of the late British Bulldog Davey Boy Smith was willing to put his own personal health and welfare in jeopardy to save this desperate woman. The selfless act generated a great deal of publicity, not only because of whom he is professionally, but because of his selfless act of courage to help de-escalate the situation with this woman in distress. It was an act his whole family could be proud of. And he wasn’t looking for accolades or thanks, he just showed just how good of a person he is.</p>

        <p>"I am really happy with all the messages I’ve gotten even from total strangers who had a friend that took their life similar to the girl I saved yesterday. For me saving someone’s life is the greatest accomplishment I’ve ever made, and meant more than winning any championships in Wrestling."</p>

        <p>His fearless and heroic act wasn’t done to garner greater publicity for his brand, but rather in hopes a stranger would come to realize that there is more to life, that their life has value and their life has worth. Help is always within reach and a voice is always there. This act of bravery will never be forgotten.</p>

        <h2 id="perry-saturn">Perry Saturn</h2>

        <p>At times, heroism isn’t without its share of risk. Doing the right thing can involve some sense of sacrifice, whether it’s physical or emotional risk. The hero doesn’t just put themselves in harm’s way, they run the risk that they will never be the same afterward. Here is another story about an unlikely hero that didn’t make a conscious effort to garner acclaim, but made a life and death choice at a particular moment in time.</p>

        <p>Former ECW, WCW and WWE performer Perry Saturn had retired from the ring. He was always known for his amazing wrestling ability, including a wide array of suplexes. Many will recall that Saturn was among the last men to switch from WCW to WWE prior to WWE purchasing their competitor. He worked alongside the Radicalz, Chris Benoit, Eddie Guerrero, and Dean Malenko. His heroic acts illustrate that he is willing to take a risk and swim in unchartered waters, much like what lay ahead of him.</p>

        <p>Before becoming a professional wrestler, Saturn was a United States Army Ranger, an indicator of his level of bravery, and that giving back to his country was important to him. This, however, isn’t where the display of heroism we are talking about occurred.</p>

        <section class="quote">
          <div class="quote__container">
            <blockquote>One of the most important things a person can be is of some use.</blockquote>
            <cite>Perry Saturn</cite>
          </div>
        </section>

        <p>In April 2004, Saturn was taking his girlfriend to work when he saw something taking place that had alarmed him. He witnessed two men attempting to rape a woman, so he approached the scene in order to protect her. In the process of saving her, he was shot with a handgun in the back of the neck and shoulder, though he initially believed it was a punch at the back of his head by one of the men as he was fighting off the assailants. The attackers then fled the scene, leaving Saturn bleeding as a result of the assault. The risk he took did see him prevent what could have been a nearly fatal result for the woman, but the aftereffects did contribute to a rather difficult period of time in Saturn’s life.</p>

        <p>In order to cope with the pain that came with the gunshot, Saturn sought pain relief and became addicted to methamphetamine. He lost his home and was said to be missing for many years, and could not be located by a number of his friends. It wasn’t until 2010 when Saturn got himself clean of his addictions. Saturn’s actions weren’t met with the same level of praise as others, but the result was years of suffering at the hands of addiction. However, in doing what he did, he showed that all it takes is one moment to make a difference in someone’s life. He showed this woman great compassion as he risks his life and own personal safety. His selfless act, much like that of Harry Smith, was to not just be a bystander and allow something to happen. Saturn’s actions were not in vain and should be celebrated. Without any need for attention or fanfare, Saturn put his life before that of the woman in distress and demonstrated great courage.</p>

        <p>In a Twitter post dating from July 2013, Saturn wrote, “We must accept finite disappointment, but never lose infinite hope.”</p>

        <p>Saturn’s quote above represents how he has continued to show perseverance after all he has endured.  He said this three years after he was believed to be missing.</p>

        <h2 id="chris-masters">Chris Masters</h2>

        <p>While stories told of heroism can be filled with triumphs or tragedies, they can also describe a moment of superhuman strength in order to help another. This was the case for current Impact Wrestling competitor and former WWE superstar, Chris Mordetzky, then known as ‘The Masterpiece’ Chris Masters, now competing as Chris Adonis.</p>

        <p>In 2013, Mordetzky demonstrated superhuman strength when his mother and a neighbor were locked in Mrs. Mordetzky’s home, a nearly tragic incident that occurred because the neighbor deliberately trapped them in the home while it burned down. After contacting the local authorities to come to the house, Chris took a tree, uprooted it from the ground and used it to break a window, causing smoke to be released. He did this in order to save his mother from potential death.</p>

        <p>“[The police] broke the window with their club and I took the hose and shoved it right in the hole where the fire was,”Mordetzky described in a January 2017 interview with The Wrestling News Hub. “Then I came around the other side and they were still trying to get this door down, but the guy had it barricaded. So, they finally got it down and then smoke just came burrowing out, so all the cops couldn’t even advance. They started selling backward and that’s the moment to me when adrenaline completely took over and I realized that my mom could realistically die right then and there. It’s one thing, you’re thinking, ‘The fire!’ but then once you think [about] all the smoke, you realize the smoke would kill her before the fire ever gets to her. She’ll die of smoke inhalation [unless I do something].”</p>

        <p>Mordetzky continued, “I grabbed her, scooped her out, and pulled her away from the whole scene, and got a couple licks in on the asshole who did it. Thank God my mom’s alive. I didn’t set out to be a hero, but I appreciate everybody giving me such positive feedback from that, and just all of it. Being on Good Morning America the day after that was pretty cool. Bottom-line, I made sure she came out of there alive.”</p>

        <section class="quote">
          <div class="quote__container">
            <blockquote>I grabbed her, scooped her out, and pulled her away from the whole scene, and got a couple licks in on the asshole who did it.</blockquote>
            <cite>Chris Masters</cite>
          </div>
        </section>

        <p>Mordetzky is still asked about this to this day, as the fear of losing his mother caused a rush of adrenaline that enabled him to do something he would not have thought he could do. This wasn’t a stranger he had come into contact with or even a close friend that he came to the aid of. It was a son doing all he could to ensure that his mother came out of this situation alive. By his own admission, while he didn’t set out to be a hero, what he did was overcome adversity to ensure that his mother would live. While the headlines read that a wrestler saved his mother by lifting a reported 10-foot tree from its roots, making it seems like a feat by Superman, it was simply a son risking injury to himself to ensure his mother’s life wasn’t in jeopardy.</p>

        <h2 id="bam-bam-bigelow">Bam Bam Bigelow</h2>

        <p>In looking at stories told of wrestlers that risked their own personal safety to ensure the lives of others weren’t lost, there is another one that comes to mind, of someone that lived with second-degree burns to 40% of his body after coming to the aid of children. In the Summer of 2000, Bam Bam Bigelow rescued three children from a brush fire near his home in Florida.</p>

        <section class="quote">
          <div class="quote__container">
            <blockquote>It was the best move I ever did.</blockquote>
            <cite>Bam Bam Bigelow</cite>
          </div>
        </section>

        <p>Here is what happened, in Bigelow’s own words, “I was coming home from Japan on an ECW trip. It was about 3:30 a.m. and I was turning onto my block and I realized there was a fire. I heard kids crying and I went through the door and the whole upstairs was on fire. I had to run through a wall in the house. I ran through a built wall … two-by-fours and everything, so I could get to the back way to get up the stairs. I landed right in a ball of fire. It was the best move I made. When I finally made it upstairs, I grabbed the three kids and came back through the same fire and now I was on fire. By the time I came down, the front stairs were down, so we would have died if we went that way. The mom had been out drinking and left the kids alone. She was a single mother. The kids were five, eight, and nine. They started a fire somehow. I did what anybody would have tried to do. I burned 40 percent of my body with second-degree burns and spent almost two months in the hospital.”</p>

        <p>The burns he lived with for the rest of his life wasn’t his ultimate concern. His act cost him a few months of in-ring action, but he knew that when lives were at stake it was far more important. His one act of heroism prevented parents from losing their most prized possession, their children.</p>

        <p>On January 19th, 2007, nearly seven years after his heroic act, Bigelow passed away, only a few months after wrestling his last match in the fall of 2006. Bigelow put a value on the lives of the three children above his own. It was a decision he made, thinking little of the risks, as saving the children became a necessity.</p>

        <hr>

        <p>Through each of these stories of heroism, a commonality appears: a selfless act of significance. In the case of Perry Saturn, it took several years to recover from the effects of the assault and a drug addiction emerged as a result of coping with the injuries sustained during his heroic act. In the case of Bam Bam Bigelow, he wore his burns as a badge of honor until his death in 2007. Whether it was a case of saving a stranger or saving your own flesh and blood, these selfless acts speak volumes about each of these athletes. In each of these incidents, none of these wrestlers recognized themselves as being heroes. They simply believed that what they were doing was the right thing to do. If they didn’t step in, the consequences could have been catastrophic for those involved, as well as their friends and loved ones. They weren’t asked to be heroes, they simply embraced it when presented with the opportunity of doing the right thing.</p>
      </section>

      <footer>
        <div class="article__sharing">
          <ul>
            <li>
              <a href="#" class="article__sharing--button">
                <img src="/assets/images/icons/twitter.svg" alt="">
                Share on Twitter
              </a>
            </li>
            <li>
              <a href="#" class="article__sharing--button">
                <img src="/assets/images/icons/facebook.svg" alt="">
                Share on Facebook
              </a>
            </li>
            <li>
              <a href="#" class="article__sharing--button">
                <img src="/assets/images/icons/reddit.svg" alt="">
                Comment on Reddit
              </a>
            </li>
          </ul>
        </div>
        <div class="article__details">
          <ul>
            <li><strong>Written by:</strong> <a href="#">Evan Ginzburg</a></li>
            <li><strong>Edited by:</strong> <a href="#">Editor Name</a></li>
            <li><strong>Posted on:</strong> January 13, 2018</li>
          </ul>
          <p>Evan Ginzburg is a contributor for Pro Wrestling Stories. He was Associate Producer of <em>The Wrestler</em> and <em>350 Days</em> starring Bret Hart and Superstar Billy Graham. He is also the host of <em>The Evan Ginzburg Show</em>, seen/heard on Village Connection Radiovision Sundays at 11:00 AM EST at <a href="//villageconnectionradio.com" target="_blank">villageconnectionradio.com</a>.</p>
        </div>
      </footer>
    </article>

    <aside class="article__sidebar article__sidebar--advertisement">
      <img src="//placehold.it/300x600" alt="">
    </aside>
  </div>
</section>
