@mixin attribution() {
  display: flex;
  flex-wrap: wrap;
  li {
    &:not(:last-of-type) {
      margin-right: .5rem;
      &::after {
        content: "\00b7";
        margin-left: .5rem;
      }
    }
  }
}
